.data-table {
  $border: 1px solid #212529;
  $ceil-padding: 4px 8px;

  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  > *:not(:last-child) {
    margin-bottom: 8px;
  }

  &__filter{
	  margin-left: auto;
  }

  &__table {
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    &__header {
      display: flex;
      flex-flow: row nowrap;
      border-bottom: $border;

      &__ceil {
        padding: $ceil-padding;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;

        &:not(:last-child) {
          border-right: $border;
        }
      }
    }

    @media only screen and (min-width: 769px) {
      border: $border;
      &__body__row {
        display: flex;
        flex-flow: row nowrap;

        &:not(:last-child) {
          border-bottom: $border;
        }

        &__ceil {
          padding: $ceil-padding;
          text-align: center;

          &:not(:last-child) {
            border-right: $border;
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      &__body__row {
        display: flex;
        flex-flow: column nowrap;
        border: $border;

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        &__ceil {
          margin: $ceil-padding;

          &__caption {
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
