<template>
  <main class="container mt-md-5">
    <!-- Loading spinner -->
    <ui-spinner v-if="isLoading" />

    <template v-else>
      <ui-alert v-if="isCached" type="success" header="Data was cached!">
        <template #default>
          <p>You can clear cache and load data again.</p>
        </template>
        <template #footer>
          <ui-button type="primary" @click="load({cache: false})">Clear cache</ui-button>
        </template>
      </ui-alert>

      <data-table :rows="data" :columns="columns" keyField="id"/>
    </template>
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { numberFormatter, dateFormatter } from '../utils/formatters';

export default {
  name: 'AppContent',

  data: () => ({
    columns: [
      {
        label: 'ID',
        prop: 'id',
        width: '15%',
      },
      {
        label: 'Date',
        prop: 'date',
        width: '20%',
        formatter: (value) => dateFormatter(value, { noValue: '-' }),
      },
      {
        label: 'Name',
        prop: 'name',
        width: '30%',
      },
      {
        label: 'Money',
        prop: 'money',
        width: '35%',
        formatter: numberFormatter,
      },
    ],
  }),

  computed: {
    ...mapState(['isLoading', 'isCached', 'data']),
  },

  created() {
    this.load();
  },

  methods: {
    ...mapActions(['load']),
  },
};
</script>
