<template>
  <div class="data-table">
    <div class="data-table__filter">
      <ui-money v-model="moneyFilter" />
    </div>

    <div class="data-table__table">
      <div v-if="!isMobile" class="data-table__table__header">
        <div v-for="column of columns" :key="column.prop" :style="{ width: column.width }" class="data-table__table__header__ceil" v-text="column.label" />
      </div>
      <div >
        <div v-for="row of displeyedRows" :key="row[keyField]" class="data-table__table__body__row">
          <div
            v-for="column of columns"
            :key="column.prop"
            :style="!isMobile ? { width: column.width } : {}"
            class="data-table__table__body__row__ceil"
          >
            <template v-if="isMobile">
              <div class="data-table__table__body__row__ceil__caption" v-text="column.label" />
              <div class="data-table__table__body__row__ceil__value" v-text="formatting(row[column.prop], column.formatter)" />
            </template>
            <template v-else>{{formatting(row[column.prop], column.formatter)}}</template>
          </div>
        </div>
        <div v-if="!displeyedRows.length" class="data-table__table__body__row__ceil" v-text="'Нет данных'" />
      </div>
    </div>

    <div class="data-table__paginator">
      <ui-pagination v-model="page" :pages="pageCount" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'DataTable',

  props: {
    rows: {
      type: Array,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
    keyField: {
      type: String,
      required: true,
    },
  },

  data: () => ({
    page: 1,
    pageSize: 4,
    moneyFilter: 0,

    isMobile: false,
  }),

  computed: {
    pageCount() {
      return Math.ceil(this.filteredRows.length / this.pageSize);
    },
    filteredRows() {
      return this.rows.filter((row) => !this.moneyFilter || row.money <= this.moneyFilter);
    },
    displeyedRows() {
      return this.filteredRows.slice((this.page - 1) * this.pageSize, this.page * this.pageSize);
    },
  },

  created() {
    this.getIsMobile();
    window.addEventListener('resize', this.getIsMobile);
  },

  destroyed() {
    window.removeEventListener('resize', this.getIsMobile);
  },

  methods: {
    getIsMobile() {
      this.isMobile = window.innerWidth <= 768;
    },
    formatting(value, formatter) {
      return typeof formatter === 'function' ? formatter(value) : value;
    },
  },
};
</script>
