<template>
  <input
    type="text"
    v-model="valueInput"
    class="ui-money"
    @input.prevent="onInput"
  />
</template>

<script>
import { numberFormatter } from '../../utils/formatters';

export default {

  name: 'UiMoney',

  props: {
    value: {
      type: Number,
      require: true,
    },
  },

  data() {
    return {
      valueInput: '',
    };
  },

  methods: {
    onInput($event) {
      if (!$event.target) return;
      const { value = '' } = $event.target ?? { value: '' };
      const [integerPart = null, fractionalPart = null] = value
        .replace(/(^\D*|[^\d.,]*)/g, '')
        .replace(/,/g, '.')
        .split('.');
      const number = !integerPart && !fractionalPart ? undefined : Number([integerPart, fractionalPart?.substring(0, 2)].join('.'));
      if (number !== undefined) this.$emit('input', number);
      this.valueInput = [integerPart && numberFormatter(Number(integerPart)), fractionalPart?.substring(0, 2)].filter((x) => x != null).join('.');
    },
  },
};
</script>
